/*header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }*/

header{
    color: magenta;
    position: fixed;
    top: 0;
    left: 0;    
    right: 0;
    height: 55px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}


/*header li {
    float: left;
}

header li a {
    display: block;
    color: rgb(233, 20, 119);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover{
    background-color: rgb(36, 32, 32);
    color: rgb(233, 20, 119);
    text-decoration: none;

}*/     

/*header input[type=text] {
  float: right;
  padding: 0;
  border: none;
  margin: 0;
  font-size: 17px;
}*/

body {
    height: 125vh;
    background-image: url('http://i.imgur.com/xu8rtkm.jpg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main{
    color:rgb(30, 17, 77);
}