header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

header{
    color: magenta;
    background-color: rgb(29, 27, 27);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: rgb(233, 20, 119);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active{
    background-color: #4CAF50
}

header li a:hover:not(.active){
    background-color: #111;
    color: rgb(233, 20, 119);
    text-decoration: none;

}

header input[type=text] {
    float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

body {
    height: 125vh;
    background-image: url('http://i.imgur.com/xu8rtkm.jpg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main{
    color: rgba(234, 12, 241, 0.904);
}